<table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
    <tr>
        <td bgcolor="#ff6600">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
            <tr >
                <td style="width:18px;padding-right:4px">
                    <a [routerLink]="'/contributions'">
                    <img src="assets/y18.gif" width="18" height="18" style="border:1px white solid;">
                    </a>
                </td>
                <td style="line-height:12pt; height:10px;" >
                    <td style="line-height:12pt; height:10px;">
                        <span class="pagetop">
                            <b class="hnname"><a [routerLink]="'/contributions'" >Hacker News</a></b> |
                            <a [routerLink]="'/newest'" >newest</a> | 
                            <a *ngIf = "localUser!=null" [routerLink] = "['/threads', localUser.name]">threads | </a>
                            <a [routerLink]="'/ask'" >ask</a> | 
                            <a [routerLink] = "'/submit'">submit</a>            
                        </span>
                    </td>
                <td style="text-align:right;padding-right:4px;">
                    <span class="pagetop">
                        <a *ngIf = "loggedIn" [routerLink] = "['/user', user.name]">{{user.name}}</a> &nbsp;
                        <button (click)="signInWithGoogle()" *ngIf = "!loggedIn">Login</button>
                        <button (click)="signOut()" *ngIf = "loggedIn">LogOut</button>
                    </span>
                </td>
             </tr>
             </table>
        </td>
    </tr>
</table>
