<table width="85%" style="color:gray"><div class="main-content">
  <ol *ngIf="items!=null">
    <li *ngFor="let item of items;" class="post">
        <a (click)="vote(item.id)" *ngIf="canVote(item)">
          <img src="assets/vote.png" style="width:10px;height:10px">
        </a>
        <div *ngIf="item.nametype == 'url';else other_content">
          <a style="color: #828282" href="{{item.url}}">({{item.title}})</a>
        </div>
        <ng-template #other_content> {{item.title}} </ng-template>
         
        <table>
            <tr>
              <td>{{item.points}} points</td>
              <td>by <a [routerLink] = "['/user', item.user_name]">{{item.user_name}}</a></td>
              <td><a [routerLink] = "['/contribution-details', item.id]">{{item.created_at | date:'dd/MM/yyyy hh:mm'}}</a> ago | </td>
              <td> <a (click)="unvote(item.id)" *ngIf="canUnvote(item)">unvote |</a> </td>
            </tr>
            <tr>
              <div *ngIf="item.nametype == 'ask'">
                <td>{{item.text}}</td>
              </div>
            </tr>
        </table>
        
    </li>
  </ol>
</div></table>
