 <tr style="height:10px"></tr>
            <form #ContributionForm="ngForm" (ngSubmit)="onSubmit()">
                <table border="0">
                  <tr>
                    <td><font color="grey">title</font></td>
                    <td>
                      <input type="text" name="contribution[title]"  [(ngModel)]="item.title"  size="50">
                      <span style="margin-left:10px"></span>
                    </td>
                  </tr>
                  <tr>
                    <td><font color="grey">url</font></td>
                    <td><input type="text" name="contribution[url]" [(ngModel)]="item.url"size="50"></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><font color="grey"><b>or</b></font></td>
                  </tr>
                  <tr>
                    <td><font color="grey">text</font></td>
                    <td><textarea [(ngModel)]= "item.text" name="contribution[text]" rows="4" cols="49"></textarea>
                    </td>
                </tr>
                <tr>
                  <td>
                    <button type="submit" >Submit</button>
                  </td>
                </tr>
                </table>
              </form>
