 <tr style="height:10px"></tr>
 <td HOLA ></td>
        <tr>
          <td>
            <form #ContributionForm="ngForm" (ngSubmit)="onSubmit()">
                <table border="0">
              
                  <tr>
                    <td><font color="grey">title</font></td>
                    <td>
                      <input type="text" name="contribution[title]"  [(ngModel)]="item.title"  size="50">
                      <span style="margin-left:10px"></span>
                    </td>
                  </tr>
                  <tr>
                    <td><font color="grey">url</font></td>
                    <td><input type="text" name="contribution[url]" [(ngModel)]="item.url"size="50"></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><font color="grey"><b>or</b></font></td>
                  </tr>
                  <tr>
                    <td><font color="grey">text</font></td>
                    <td><textarea [(ngModel)]= "item.text" name="contribution[text]" rows="4" cols="49"></textarea>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr style="height:20px"></tr>
                  <tr>
                    <td></td>
                    <td><font color="grey">Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.</font>
                      <br><br>
                      <font color="grey">You can also submit via</font>
                      <a href="bookmarklet.html" rel="nofollow"><u>bookmarklet</u></a>.
                    </td>
                  </tr>
                </table>
              </form>
            </td>
          </tr>
