<table width="85%" style="color:gray"><div class="main-content">
  <ol *ngIf="items!=null">
    <li *ngFor="let item of items; let i = index" class="post">
      <table>
        <tr>
          <td>{{item.title}}</td>
        </tr>
        <tr>
          <td>{{item.points}}  points </td>
          <td>by <a [routerLink] ="['/user', item.user_name]">{{item.user_name}}</a></td>
          <td><a [routerLink] = "['/contribution-details', item.id]">| created at {{item.created_at | date:'dd/MM/yyyy hh:mm'}}</a></td>
          <td><a (click)="unvote(item.id)" *ngIf="item.voted">| unvote </a> </td>
        </tr>
      </table>
        
      
    </li>
  </ol>
</div></table>
