<table width="85%" style="color:gray"><div class="main-content">
  <ol *ngIf="item!=null">
    <div *ngIf="item.nametype == 'url';else other_content">
      <a [routerLink] = item.url >{{item.title}}</a>
    </div>
    <ng-template #other_content> item.title </ng-template>
    
      <table>
        <tr>
          <td>on: <a [routerLink] = "'/#'">{{item.points}}</a></td>
          <td>by <a [routerLink] = "'/user'">{{item.user_id}}</a></td>
          <td><a [routerLink] = "'/#'">{{item.created_at}}</a> ago | </td>
        </tr>
        <tr>
          <div *ngIf="item.nametype == 'ask'">
            <td>{{item.text}}</td>
          </div>
        </tr>
      </table>
        <table>
          <form [formGroup]="createForm"  (ngSubmit)="onSubmit()">
            <div class="col-10">
              <textarea class="form-control"  formControlName="content"></textarea>
            </div>
            <button type="submit" >Update</button>
          </form>
        </table>
        <table>
          <ol *ngIf="comments!=null">
            <li *ngFor="let comment of comments;" class="post">
              <td><img src="assets/vote.png" style="width:10px;height:10px"></td>
              <td> <a [routerLink] = "'/user'">{{comment.user_id}} </a></td>
              <td><a [routerLink] = "'/#'">{{comment.created_at}}</a> ago | </td>
                </li>
          </ol>
        </table>
  </ol>
</div></table>