<table width="85%" style="color:gray">
  <div class="main-content">
    <ol *ngIf="item!=null">
      <div *ngIf="item.nametype == 'url';else other_content">
        <a [routerLink]=item.url>{{item.title}}</a>
      </div>
      <ng-template #other_content> {{item.title}} </ng-template>

      <table>
        <tr>
          <td>{{item.points}} points by</td>
          <td><a [routerLink] = "['/user', item.user_name]">{{item.user_name}}</a></td>
          <td><a [routerLink] = "'/#'">{{item.created_at | date:'dd/MM/yyyy hh:mm'}}</a> | </td>
        </tr>
        <tr>
          <div *ngIf="item.nametype == 'ask'">
            <td>{{item.text}}</td>
          </div>
        </tr>
      </table>
          <form [formGroup]="createForm"  (ngSubmit)="onSubmit()">
            <div class="col-10">
              <textarea class="form-control"  formControlName="content"></textarea>
            </div>
            <button type="submit" >Add Comment</button>
          </form>
          <table>
            <ol *ngIf="comments!=null">
              <li *ngFor="let comment of comments;" class="post">
            <tr>
              <td>
                <a (click)="vote2(comment.id)" *ngIf="canVote2(comment)">
                  <img src="assets/vote.png" style="width:10px;height:10px">
                </a>
              </td>
              <td> <a [routerLink]="'/user'">{{comment.user_name}} </a></td>
              <td><a [routerLink]="['/comment-details', comment.id]">{{comment.created_at | date:'dd/MM/yyyy hh:mm'}}</a> |
              <td>
              <td> <a (click)="unvote2(comment.id)" *ngIf="canUnvote2(comment)">unvote |</a> </td>
            </tr>
            <table>
              <tr>
                <div>
                  <td> {{comment.content}} </td>
                </div>
            </table>
            <p><td><a [routerLink]="['/comment-details', comment.id]">reply</a></td></p>
            <app-comment-basic [comment]="comment"></app-comment-basic>
            </li>
</ol>
        </table>
     </ol>
   </div>
</table>
