<table width="85%" style="color:gray"><div class="main-content">
  <ol *ngIf="items!=null">
    <li *ngFor="let item of items; let i = index" class="post">
      <table>
        <tr>
          <td style="font-size:16px padding-top: 25px">{{item.title}}</td>
        </tr>
        <tr style="font-size:12px">
          <td>{{item.points}}  points by </td>
          <td><a [routerLink] ="['/user', item.user_name]">{{item.user_name}}</a></td>
          <td><a [routerLink] = "'/#'">{{item.created_at}}</a></td>
        </tr>
      </table>
        
      
    </li>
  </ol>
</div></table>
